*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

@font-face {
font-family: 'Camphor Pro';
src: url(https://i05.appmifile.com/events/fonts/0111/CamphorPro-Regular.otf) format("opentype")
}

#grid-galeria{display: none;}
.desktop-note{display: block;}
.mobile-note{display: none;}

a{
text-decoration: none;
color: #000;
}

img,
video {height: auto; max-width: 100%;}
[hidden] {display: none;}

body, html{font-family: 'Camphor Pro';}

button{border: none;}

.p-preto {text-align: center;}

.title-preto{
font-weight: 900;
line-height: 1.1;
text-align: center;
}

.top-header {
align-items: center;
color: #191919;
display: flex;
font-size: .94vw;
font-weight: 400;
justify-content: space-between;
line-height: 1.13vw;
padding: 1.17vw 1.88vw 0 1.17vw;
position: absolute;
top: 0;
width: 100%;
z-index: 9;
}

.top-header .header-logo {
background-image: url(https://i05.appmifile.com/events/logos/orange-logo.png);
background-size: 100%;
display: inline-block;
height: 2.34vw;
width: 2.34vw;
}

.grid-galeria{
display: grid;
max-width: 100%;
grid-template-columns: 1fr 1fr 1fr;
background-position: center;
}

.galeria{
padding: 7rem;
background: #f7fcff;
}

.phone-flex{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
align-items: center;
}



.header-1 {
background-image: url(../media/capa.webp);
background-position: 50%;
background-size: cover;
box-sizing: border-box;
flex-direction: column;
height: 37.5vw;
padding: 0 8.98vw;
position: relative;
width: 100%;
}

.header-1, .header-1-calendar {
align-items: center;
display: flex;
justify-content: center;
}

.header-1-text {
align-items: center;
color: #191919;
display: flex;
flex-direction: column;
}
.header-1-text-1 {
background-size: 42.15vw 9.49vw;
font-size: 1.95vw;
height: 9.49vw;
line-height: 2.81vw;
width: 42.15vw;
}

.section02{
margin: 5rem;
text-align: center;
}
/********************************************************************/

.title-preto{
font-size: 1.88vw;
font-weight: 700;
line-height: 1.1;
text-align: center;
}

.title-preto-phone{
font-size: 1.88vw;
font-weight: 700;
line-height: 1.1;
text-align: center;
width: 23.44vw;   
}

.p-preto {
font-size: .94vw;
margin-top: 0.94vw;
text-align: center;
}

.p-preto-phone{
font-size: .94vw;
margin-top: 0.94vw;
text-align: center;
width: 23.44vw;
}

/*****************************************************************/

#Btn {
display: none;
position: fixed;
bottom: 50px;
right: 60px;
z-index: 9999;
border: none;
outline: none;
background-color: #191919;
color: white;
cursor: pointer;
padding: 25px;
border-radius: 10px;
}

#Btn:hover {
background-color: #ff6900;
}

#Btn-phone{
border: none;
outline: none;
background-color: #191919;
color: white;
cursor: pointer;
padding: 25px;
border-radius: 10px;
bottom: 50px;
right: 60px;
}

#Btn-phone:hover{
background-color: #ff6900;
}

#countdown {
font-size: 4rem;
color: #000;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-top: 5rem;
}

.time-container {
margin: 10px;
text-align: center;
}

.time {
font-size: 1.5em;
font-weight: bold;
color: #000;
}

.label {
font-size: 0.8em;
color: #e02213;
}
    
@media screen and (max-width:999px) {

.desktop-note{display: none;}
.mobile-note{display: block;}

img{max-width: 100%;}
video{max-width: 100%;}

[hidden] {display: none;}

a{text-decoration: none;}

.top-header {
align-items: center;
color: #191919;
display: flex;
font-weight: 400;
justify-content: space-between;
line-height: 1.13vw;
padding: 3vw 2.88vw 0 2.17vw;
position: absolute;
top: 0;
width: 100%;
z-index: 9;
}

.top-header .header-logo {
background-image: url(https://i05.appmifile.com/events/logos/orange-logo.png);
background-size: 100%;
display: inline-block;
height: 10vw;
width: 10vw;
}

.grid-galeria{
display: flex;
background-position: center;
align-content: center;
justify-content: center;
align-items: center;
justify-items: stretch;
flex-direction: column;
flex-wrap: nowrap;
}

.grid-text{
padding: 0.5rem;
}

.phone-flex{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
align-items: center;
}

.galeria{
padding: 7rem;
background: #f7f7f7
}

.header-1 {
background-image: url(../media/capa-mobile.webp);
background-size: cover;
box-sizing: border-box;
flex-direction: column;
height: 178.5vw;
padding: 0 8.98vw;
position: relative;
width: 100%;
}

.header-1, .header-1-calendar {
align-items: center;
display: flex;
justify-content: center;
}

.header-1-text {
align-items: center;
color: #191919;
display: flex;
flex-direction: column;
}

.header-1-text-1 {
width:27rem;
}

.title-azul{
font-size: 1.5rem;
color: #2581d5;
}

.title-preto{
font-size: 6vw;
font-weight: 700;
line-height: 1.1;
text-align: center;
width: 70vw;
margin-bottom: 1rem;
}

.title-preto-phone{
font-size: 5vw;
font-weight: 700;
line-height: 1.1;
text-align: center;
width: 50vw;   
}

.p-azul{
font-size: 1rem;
color: #2581d5;
line-height: 1.5;
}

.p-preto{
font-size: 4.3vw;
text-align: center;
width: 68vw;
}

.p-preto-phone{
font-size: 4.3vw;
margin-top: 0.94vw;
text-align: center;
width: 68vw;
}

.section02{
margin: 1rem;
text-align: center;
}

#Btn {
display: none;
position: fixed;
bottom: 50px;
right: 60px;
z-index: 9999;
border: none;
outline: none;
background-color: #191919;
color: white;
cursor: pointer;
padding: 25px;
border-radius: 10px;
}

#Btn:hover {
background-color: #ff6900;
}

#Btn-phone{
border: none;
outline: none;
background-color: #191919;
color: white;
cursor: pointer;
padding: 25px;
border-radius: 10px;
bottom: 50px;
right: 60px;
}

#Btn-phone:hover{
background-color: #ff6900;
}



}